<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>restmodule</id>
	<name>REST Module</name>
	<version>1.4.4</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Burke Mamlin</author>
	<description>
			Very Basic OpenMRS REST Module. Provides access to parts of the
			OpenMRS API in a REST-ful manner (currently only patient lookup).
			Access can be limited by IP address via a global property.
			Uses HTTP authentication (only recommended for use on servers
			that use SSL...use of non-SSL servers would broadcast HTTP
			authentication insecurely).
	</description>

	<activator>@MODULE_PACKAGE@.RestModuleActivator</activator>
	
	<updateURL>http://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>
	<!-- /Base Module Properties -->
	
	
	<!-- Extensions 
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.formEntry.extension.html.RestAdminExt</class>
	</extension>
	 /Extensions -->
	
	
	<!-- AOP -->
	<advice>
		<point>org.openmrs.api.AdministrationService</point>
		<class>@MODULE_PACKAGE@.advice.RestAdministrationAdvisor</class>
	</advice>
	
	<!-- /AOP -->
	
	
	<!-- Required Privileges -->
	<privilege>
		<name>Access REST API</name>
		<description>Allows user to access REST API functions</description>
	</privilege>
	<!-- /Required Privileges -->


	<!-- Required Global Properties -->
	<globalProperty>
		<property>@MODULE_ID@.allowed_ip_list</property>
		<defaultValue>127.0.0.1</defaultValue>
		<description>Whitespace-separated list of remote IP addresses allowed to access the RestModule API.  Each entry should be four numbers (0-255) separated with periods, using "*" for wildcards - e.g., "192.168.1.* 192.168.2.50" allows all clients with IP addresses beginning with 192.168.1 plus the IP address 192.168.2.50.</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.max_results</property>
		<defaultValue>0</defaultValue>
		<description>The maximum number of results to return from any query to the RestModule API.  Should be a whole number.  If blank or zero, then no maximum number of results is imposed.</description>
	</globalProperty>
	<!-- /Required Global Properties -->
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRPatientService">
				<param name="class" value="@MODULE_PACKAGE@.web.DWRPatientService"/>
				<include method="foobar"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRPatientService;
			DWRPatientService.foobar(Integer patientId);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> -->
	<servlet>
		<servlet-name>api</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.RestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>json</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.RestServlet</servlet-class>
	</servlet>
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with moduleId.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

